/*
Color Palette
#1f202b
#B5BBC3
#A7BFD4
#fa0075
*/

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Petit Formal Script', ;
*/

/*-----------------------Grid---------------------*/

.full-width {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.half-width {
    width: 600px;
    float: left;
    height: 725px;
    padding-top: 40px;
}

.third-width {
    width: 400px;
    float: left;
}

/*----------------------Base-Styles---------------------*/

body{ 
    background-color: black;
    color: #B5BBC3;
    font-family: 'Montserrat', sans-serif;
}

#header {
    height: auto;
}

#portfolio {
    height: 1300px;   
}

#about, #contact {
    height: 500px;
}

a {
    text-decoration: none;
    color: #B5BBC3;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

/*---------------------Header----------------------------*/

header{
    background-color: black;
    height: 54px; 
    padding-top: 20px;
}

header h1{
    float: left;
    font-size: 20px;
    margin: 10px;
    line-height: 10px;
}

nav {
    clear: both;
    text-align: right; 
}

nav ul {
    margin: 10px 10px 10px 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    border: none;
    text-transform:lowercase;
    text-decoration: none;
    text-align: right;
/*    font-family: 'Montserrat', sans-serif;*/
    font-size: 20px;
    font-weight: 10;
    padding-left: 10px;
    
    
}

/*-----------------Image Section---------------------*/
#site-image {
    height: 500px;
    width: 1300px;
    background: url(../img/toronto-skyline-evening.png) no-repeat fixed ;
    background-size:cover;
    background-color: #1f202b;
    border-left: 100px solid black;
}

#site-image h2 {
    width: 350px; 
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 60px;
    padding: 50px 0 0 20px;
    text-transform:lowercase;
}


span {
    color: #894982;
    font-family: 'Petit Formal Script';
    font-size: 60px;
    font-weight: bold;
}
/*-----------------Portfolio Section---------------------*/

#portfolio .half-width{
    height: 350px;  
}

h3 {
    text-align: center;
    color: #894982;
    text-transform:lowercase;
}

h4 {
    font-weight: bold;
    font-size: 24px;
    margin-left: 50px;
    padding: 0 100px 0 100px;
} 

h5 {
    margin-left: 50px;
    padding: 0 100px 0 100px;
    
}

#portfolio img {
    width: 550px;
    height: 350px;
    padding-left: 25px;
}

#portfolio p {
    height: 350px;  
    margin-left: 50px;
    padding: 0 100px 0 100px;
    text-align: left;
}

/*-----------------About Me Section---------------------*/

#about{
    background-color: #E2CED6;
    color: #894982
    overflow: auto;
    height: 500px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
        }

#about h2 {
    padding: 20px 0 0 20px;
    color: #894982;
    font-family: 'Petit Formal Script';
}

#about p{
        padding: 40px 60px 0 20px; 
        color: #894982;
        text-align: left;
}

.profile-img {
    border-radius: 50%;
    margin: 40px 0 0 100px;  
}


/*-----------------Services Section---------------------*/

p {
    text-align: center;
    font-size: 16px;
    border: 20 0 0 20;
    border-color: aliceblue;
}

/*-----------------Connect Section---------------------*/

#contact {
    text-align: center;
}   
    </footer>